#monaco-bottom-bar {
    width: 100%;
    height: 22px;
    min-height: 22px;
    max-height: 22px;
    flex-shrink: 0;
    background-color: var(--vscode-editor-background);
    border-top: 1px solid var(--vscode-dropdown-border);
    position: absolute;
    bottom: 0;
    left: 0;
    outline-color: transparent !important;
    z-index: 1000;
    font-size: 12px;
    display: flex;

    .left-items,
    .right-items {
        display: flex;
    }

    .left-items {
        flex-grow: 1;
    }

    .right-items {
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .items-container {
        .item {
            .item-label {
                align-items: center;
                cursor: pointer;
                display: flex;
                height: 100%;
                outline-width: 0;
                overflow: hidden;
                padding: 0 5px;
                text-overflow: ellipsis;
                white-space: pre;
                margin-left: 3px;
                margin-right: 3px;
            }
        }
    }

    .notification-bell-container {
        position: relative;

        .notification-dot {
            position: absolute;
            top: 2px;
            right: 2px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--vscode-notifications-foreground);
            border: 1px solid var(--vscode-editor-background);
            box-sizing: border-box;
        }
    }
}
