.monaco-notification {
    background: var(--vscode-input-background);
    height: 42px;
    display: flex;
    transform: translate3d(0, 100%, 0);
    flex-direction: row;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 4px;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
    align-items: center;

    &.fade-in {
        opacity: 1;
        transform: none;
    }

    &.no-border {
        border-radius: 0 !important;
    }

    .notification-icon {
        display: flex;
        align-items: center;
        flex: 0 0 16px;
        height: 22px;
        margin-right: 4px;
        margin-left: 4px;
        font-size: 18px;
    }

    .notification-text {
        font-size: 13px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
        user-select: text;
        -webkit-user-select: text;
    }

    .notification-text>span {
        white-space: normal;
    }

    .notification-dismiss-container {
        display: flex;
        align-items: center;
        flex: 0 0 16px;
        height: 22px;
        margin-right: 4px;
        margin-left: 4px;
        font-size: 18px;
        cursor: pointer;
    }

    &:hover {
        .notification-dismiss-container {
            background: rgba(90, 93, 94, 0.31);
            border-radius: 4px;
        }
    }

    .notification-duration {
        height: 3px;
        position: absolute;
        bottom: 0px;
        left: -1px;
        width: 101%;
    }

}