.monaco-notifications {
    position: absolute;
    z-index: 1000;
    bottom: 31px;
    right: 8px;
    overflow: hidden;
    border-radius: 4px;
    width: 450px;
}

.hidden {
    display: none !important;
    pointer-events: none !important;
}

.monaco-notifications > .monaco-notifications-header {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 5px;
    height: 35px;
}

.monaco-notifications > .monaco-notifications-header > .monaco-notifications-header-title {
    text-transform: uppercase;
    font-size: 11px;
}

.monaco-notifications > .monaco-notifications-header > .monaco-notifications-header-toolbar {
    flex: 1;
}

.monaco-notifications
    > .monaco-notifications-header
    > .monaco-notifications-header-toolbar
    .actions-container {
    justify-content: flex-end;
}

.monaco-notifications
    > .monaco-notifications-header
    > .monaco-notifications-header-toolbar
    .action-item:first-child {
    margin-left: 4px;
}

.monaco-notifications
    > .monaco-notifications-header
    > .monaco-notifications-header-toolbar
    .action-item {
    margin-right: 4px;
}

.monaco-action-bar {
    white-space: nowrap;
    height: 100%;
}

.monaco-action-bar .actions-container {
    display: flex;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
}

.action-label:not(.disabled):hover {
    background: rgba(90, 93, 94, 0.31);
    cursor: pointer;
}

.action-label.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.codicon[class*="codicon-"] {
    font-size: 16px;
}

.monaco-notifications-container {
    max-height: 50vh;
    overflow-y: auto;
}

.monaco-list.mouse-support {
    list-style: none;
    margin: 0;
    padding: 0;
}

