.monaco-notifications {
    position: absolute;
    z-index: 1000;
    bottom: 31px;
    right: 8px;
    overflow: hidden;
    border-radius: 4px;
    width: 450px;

    .monaco-notifications-header {
        display: flex;
        align-items: center;
        padding-left: 8px;
        padding-right: 5px;
        height: 35px;

        .monaco-notifications-header-title {
            text-transform: uppercase;
            font-size: 11px;
        }

        .monaco-notifications-header-toolbar {
            flex: 1;
        }

        .actions-container {
            justify-content: flex-end;
        }
    }

    .action-item:first-child {
        margin-left: 4px;
    }

    .action-item {
        margin-right: 4px;
    }
}

.monaco-action-bar {
    white-space: nowrap;
    height: 100%;

    &.actions-container {
        display: flex;
        margin: 0 auto;
        padding: 0;
        height: 100%;
        width: 100%;
        align-items: center;
    }
}

.action-label:not(.disabled):hover {
    background: rgba(90, 93, 94, 0.31);
    cursor: pointer;
}

.action-label.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.codicon[class*="codicon-"] {
    font-size: 16px;
}

.monaco-notifications-container {
    max-height: 50vh;
    overflow-y: auto;
}

.monaco-list.mouse-support {
    list-style: none;
    margin: 0;
    padding: 0;
}