#monaco-right-sidebar {
    width: 52px;
    height: 100%;
    background-color: var(--vscode-editor-background);
    border-left: 1px solid var(--vscode-dropdown-border);
    outline-color: transparent !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    padding-top: 4px;
}

.sidebar-button {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--vscode-editor-background);
    border: 1px solid transparent;
    transition:
        background 0.1s ease,
        border-color 0.1s ease;
    border-radius: 4px;
    margin-bottom: 4px;

    &:hover {
        background: var(--vscode-list-hoverBackground);
    }

    &.active {
        .codicon {
            color: var(--vscode-foreground);
        }
    }

    .codicon {
        font-size: 20px;
        color: var(--vscode-descriptionForeground);
    }
}

.sidebar-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-foreground);
    overflow: hidden;
    outline-color: transparent !important;
    border-left: 1px solid var(--vscode-dropdown-border);
}
